$font-sans
  font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif

$font-monospace
  font-family Menlo, Monaco, Consolas, monospace

$flex-centered
  display flex
  align-items center
  justify-content center
  