// global color
$bg-color = #eee
$text-color = #454545
$link-color = #59b0ff
$link-highlight = #1d8ce0

// grayscale palette
$color-white = #fff
$color-light = #d8d8d8
$color-gray = #ababab
$color-dark = #333437
$color-black = #000
$color-main = #499ef3
$color-success = #b8e986
$status-warning = #f5a623
$status-danger = #d0021b
